{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Sobre nosotros</h1>
    <p>Sistema dedicado a la administracion de tareas personales.</p>

    <br>
    <br>
    
    <h2>Sistema de administración de tareas</h2>
    <p>Nuestro sistema de administración de tareas es una herramienta muy útil para el manejo eficiente de proyectos. Con esta aplicación, puedes crear, asignar y seguir a las tareas de tus proyectos de manera sencilla y efectiva.</p>
    <p>Entre las características más destacadas de nuestro sistema, se encuentran:</p>

    <br>
    <br>

    <ul>
        <li>Creación de tareas</li>
        <li>Eliminar tareas</li>
        <li>Completar tareas y verlas ordenadas por fecha</li>
        <li>Ver lista de tareas por realizar</li>
    </ul>


    <p>No esperes más y comienza a utilizar nuestro sistema de administración de tareas hoy mismo.</p>
</div>
{% endblock %}
